.cards.white-bg .cards-light-theme {
  max-width: 1200px;
  margin: auto;
}

.cards.white-bg .cards-light-theme {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 0; /* 🔧 Fix */
  flex-wrap: wrap;
  margin: 0 auto;
}

.cards.white-bg .cards-light-theme li {
  background-color: var(--background-color);
  border-color: #363636;
  /* flex: 0 0 32%;; */
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 345px;
  height: 243px;
}

.cards.white-bg .cards-light-theme li:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25); /* stronger shadow on hover */
}

.cards.white-bg .cards-light-theme .cards-card-body {
  margin: 16px 16px 16px 0;
}

.cards.white-bg .cards-light-theme .cards-card-body h5 {
  color: #0e1012;
  font-size: 26px;
}

.cards.white-bg .cards-light-theme .cards-card-body .card-paragraph{
  color: dimgray;
  display: block;
  font-size: var(--font-size-small, 14px);
  margin-top: 5px;
  /* overflow: hidden; */
  width: 260px;
}

.cards.white-bg .cards-light-theme .cards-card-body p {
  margin-left: 0;
}

.cards.white-bg .cards-light-theme .cards-card-image {
  line-height: 0;
}

.cards.white-bg .cards-light-theme li img {
  width: 191px;
  height: 65px;
  /* aspect-ratio: 4 / 3; */
  /* object-fit: cover; */
}

.cards.white-bg .cards-light-theme .cards-card-image a.button:any-link {
  background: none;
  padding: 0;
  margin: 0;
}

.cards.white-bg .cards-light-theme .cards-card-body a {
  margin: 0;
  padding: 0;
  color: var(--text-color, #202020);
  text-decoration: none;
  transition: color 0.3s ease;
  text-transform: uppercase;
  background-color: transparent;
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family, "Source Sans Pro", "Helvetica Neue", helvetica, arial, sans-serif);
}

.cards.white-bg .cards-light-theme li .cards-card-image picture {
  display: block;
}


/* black-bg css */
.section.cards-container:has(.black-bg) {
  background-color: black;
}

.section.cards-container:has(.black-bg) h3{
  color: white;
  padding: 75px 0 22px 70px;
}

.cards.black-bg {
  max-width: 1200px;
  margin: auto;
}

.cards.black-bg .cards-dark-theme {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 0; /* 🔧 Fix */
  flex-wrap: wrap;
  margin: 0 auto;
}

.cards.black-bg .cards-dark-theme li {
  background-color: var(--text-color);
  border: 1px solid green;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 342px;
  height: 243px;
}

.cards.black-bg .cards-dark-theme li:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25); /* stronger shadow on hover */
}

.cards.black-bg .cards-dark-theme .cards-card-body {
  margin: 16px 16px 16px 0;
}

.cards.black-bg .cards-dark-theme .cards-card-body h5 {
  color: var(--light-color);
  font-size: 26px;
}

.cards.black-bg .cards-dark-theme .cards-card-body .card-paragraph{
  color: dimgray;
  display: block;
  font-size: var(--font-size-small, 14px);
  margin-top: 5px;
  /* overflow: hidden; */
  width: 260px;
}

.cards.black-bg .cards-dark-theme .cards-card-body p {
  margin-left: 0;
  color: var(--light-color);
}

.cards.black-bg .cards-dark-theme .cards-card-image {
  line-height: 0;
  width: 25%;
  height: 35%;
  border-radius: 50%;
  background-color: black;
  display: block;
  margin: 0px auto;
  position: relative;
}

.cards.black-bg .cards-dark-theme li img {
  width: 191px;
  height: 65px;
  /* aspect-ratio: 4 / 3; */
  /* object-fit: cover; */
}

.cards.black-bg .cards-dark-theme .cards-card-image a.button:any-link {
  background: none;
  padding: 0;
  margin: 0;
}

.cards.black-bg .cards-dark-theme .cards-card-body a {
  margin: 0;
  padding: 0;
  color: var(--text-color, #202020);
  text-decoration: none;
  transition: color 0.3s ease;
  text-transform: uppercase;
  background-color: transparent;
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family, "Source Sans Pro", "Helvetica Neue", helvetica, arial, sans-serif);
}

.cards.black-bg .cards-dark-theme li .cards-card-image picture {
  display: block;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 31%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section.custom-card.cards-container p.button-container {
  text-align: center;
}
/* css for only images in card */

.section.custom-image-card.cards-container h2 {
  text-align: center;
}

.section.custom-image-card.cards-container .cards.white-bg-images .cards-light-theme {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 0;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  align-content: center;
}

.section.custom-image-card.cards-container .cards.white-bg-images .cards-light-theme li {
  background-color: var(--background-color);
  border-color: #363636;
  /* flex: 0 0 32%;; */
  padding: 20px;
  text-align: center;
  width: 345px;
  height: 243px;
  align-content: center;
}

.cards.partners-white-bg .cards-light-theme {
  max-width: 1200px;
  margin: auto;
}

.cards.partners-white-bg .cards-light-theme {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 75px 0;
  flex-wrap: wrap;
  margin: 0 auto;
}

.cards.partners-white-bg .cards-light-theme li {
  display: flex;
  align-items: center; /* Vertically center */
  gap: 20px; /* Space between image and text */
  padding: 20px;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 550px;
  height: 150px;
}

.cards.partners-white-bg .cards-light-theme li:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25); /* stronger shadow on hover */
}

.cards.partners-white-bg .cards-light-theme .cards-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.cards.partners-white-bg .cards-light-theme .cards-card-body h5 {
  color: #0e1012;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.cards.partners-white-bg .cards-light-theme .cards-card-body .card-paragraph{
  font-size: 16px;
  margin-top: 8px;
  color: #333;
  width: 100%;
  line-height: 1.4;
  text-align: left;
  text-transform: none;
}

.cards.partners-white-bg .cards-light-theme .cards-card-body p {
  margin-left: 0;
  margin-bottom: 20px;
}

.cards.partners-white-bg .cards-light-theme .cards-card-image {
  flex-shrink: 0;
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards.partners-white-bg .cards-light-theme li img {
  width: 191px;
  height: 65px;
}

.cards.partners-white-bg .cards-light-theme .cards-card-image a.button:any-link {
  background: none;
  padding: 0;
  margin: 0;
}

.cards.partners-white-bg .cards-light-theme .cards-card-body a {
  margin: 0;
  padding: 0;
  color: var(--text-color, #202020);
  text-decoration: none;
  transition: color 0.3s ease;
  text-transform: uppercase;
  background-color: transparent;
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family, "Source Sans Pro", "Helvetica Neue", helvetica, arial, sans-serif);
}

.cards.partners-white-bg .cards-light-theme li .cards-card-image picture {
  display: block;
}
