.columns h2 {
  margin-bottom: 13.5px;
  margin-top: 27px;
  margin-left: 0;
}

.columns p {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  margin-left: 0;
}

.columns > div {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

.columns img {
  /* width: 100%;   Need to fix this through specific css, for time being I am commenting this*/
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

}
