footer {
  background-color: var(--background-color-black);
  font-size: var(--body-font-size-xs);
  color: var(--txt-color);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0 0 10px;
  font-size: var(--body-font-size-s);
}

footer .footer p a {
  font-size: var(--body-font-size-s);
  color: var(--light-color, #ebebeb);
  font-family: var(--body-font-family);
  text-decoration: underline;
}

footer .footer .footer-logo-img {
  width: 128px;
  height: auto;
}

footer .footer .section.footer-nav-sections {
  display: flex;
  align-content: center;
  margin-bottom: 35px;
}

footer .footer .section.footer-nav-sections ul {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

footer .footer .section.footer-nav-sections ul > li {
  margin: 10px 0;
  font-size: var(--nav-font-size-s);
}

/* Link styling */
footer .footer .section.footer-nav-sections ul > li > a {
  text-decoration: none;  /* Removes the underline from links */
  color: var(--light-color);  /* Sets the text color of the links */
  padding: 15px 17px;
}

/* Hover effect for links */
footer .footer .section.footer-nav-sections ul > li > a:hover {
  color: #fff;  /* Changes text color on hover */
  text-decoration: underline;

}

/* Active or selected state styling */
footer .footer .section.footer-nav-sections ul > li > a.active {
  background-color: #007bff;  /* Active link background color */
  color: #fff;  /* Active link text color */
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
