/* Footer container */
footer {
  background-color: var(--background-color-black);
  font-size: var(--body-font-size-xs);
  color: var(--txt-color);
}

/* Footer wrapper */
footer .footer>div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 32px 24px;
}

/* Footer paragraph */
footer .footer p {
  margin: 0 0 8px;
  text-align: center;
  line-height: 1.5rem;
  font-size: 18px;
  margin-top: 90px;
}

/* Paragraph links */
footer .footer p a {
  font-size: var(--body-font-size-s);
  color: var(--light-color, #ebebeb);
  font-family: var(--body-font-family);
  text-decoration: underline;
}

/* Footer logo */
footer .footer .footer-logo-img {
  width: 198px;
  height: auto;
}

/* Navigation section */
footer .footer .section.footer-nav-sections {
  display: flex;
  justify-content: flex-start;
  gap: 60px;
  margin-bottom: 35px;
}

/* Navigation list */
footer .footer .section.footer-nav-sections ul {
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

/* Navigation items */
footer .footer .section.footer-nav-sections ul>li {
  margin: 0;
  font-size: var(--nav-font-size-s);
}

/* Footer links */
footer .footer .section.footer-nav-sections ul>li>a {
  text-decoration: none;
  color: var(--light-color);
  /* padding: 15px 48px; */
  font-size: 20px;
  font-family: var(--body-font-family);
  transition: color 0.3s ease;
  white-space: pre-line;
  margin: 60px;
  /* This enables breaking terms into two lines */
}

/* Active link (e.g. Careers) */
footer .footer .section.footer-nav-sections ul>li>a.active {
  color: #a100ff;
  /* Purple color */
  font-weight: bold;
  text-decoration: none;
}

/* Hover effect */
footer .footer .section.footer-nav-sections ul>li>a:hover {
  color: #a100ff;
  background-color: transparent;
}

span.icon.icon-linkedin-logo {
  height: 50px;
  width: 50px;
}

/* Responsive padding */
@media (width >=900px) {
  footer .footer>div {
    padding: 40px 32px 24px;
  }
}

span.icon.icon-linkedin-logo {
  height: 40px;
  width: 50px;
}